html {
   text-align: center;
}

.mb-10 { margin-bottom: 10px;}
.mb-20 { margin-bottom: 20px;}
.mb-30 { margin-bottom: 30px;}
.mb-40 { margin-bottom: 40px;}

.mt-10 { margin-top: 10px;}
.mt-20 { margin-top: 20px;}
.mt-30 { margin-top: 30px;}
.mt-40 { margin-top: 40px;}

ul {
   list-style: none;
   border: 2px solid gainsboro;
   margin: 20px auto;
}

li {
   text-align: left;
   padding: 10px 19px;
   border-bottom: 1px dotted gainsboro;
}

#trashcan {
   font-size: 1.2rem;
   transition: .4s;
   cursor: pointer;
}

#trashcan:hover {
   color: red;
}

.strikethrough {
   text-decoration: line-through;
   color: gray;
}

.clickable {
   cursor: pointer;
}

.wrapper {
   width: 40%;
   margin: 0 auto;
   /* border: 2px solid palegoldenrod */
}

.show {
   padding-left: 30px;
   display: block;
   /* border: 1px solid salmon */
}

.hidden {
   display: none;
   transition: .4s;
}

form {
   margin-bottom: 0;
}