html {
   text-align: center;
}

.mb-10 { margin-bottom: 10px;}
.mb-20 { margin-bottom: 20px;}
.mb-30 { margin-bottom: 30px;}
.mb-40 { margin-bottom: 40px;}

.mt-10 { margin-top: 10px;}
.mt-20 { margin-top: 20px;}
.mt-30 { margin-top: 30px;}
.mt-40 { margin-top: 40px;}

ul {
   list-style: none;
   border: 2px solid gainsboro;
   margin: 20px auto;
}

li {
   text-align: left;
   padding: 10px 19px;
}

li:first-child {
   border-top: 1px dotted gainsboro;
}

#trashcan {
   font-size: 1.2rem;
   transition: .4s;
   cursor: pointer;
}

#trashcan:hover {
   color: red;
}

.strikethrough {
   text-decoration: line-through;
   color: gray;
}

.clickable {
   cursor: pointer;
}

.wrapper {
   width: 40%;
   margin: 0 auto;
}

.show {
   /* position: absolute; */
   /* top: 20px; */
   padding-left: 30px;
   display: block;
   background: rgba(243, 243, 238, 0.486);
}

.hidden {
   display: none;
}

form {
   margin-bottom: 0;
}

.force-center {
   border: 2px solid palegreen;
   margin: 0 auto;
}

.red { border: 1px solid red; }
.blue { border: 1px solid dodgerblue; }
.pink { border: 1px solid deeppink; }

i#toggle-all {
   font-size: 26px;
   padding-left: 0.8rem;
   color: blueviolet;
}
#toggle-all:hover {
   text-shadow:0px 3px 4px #bababa;
}