html {
   text-align: center;
}

.mb-10 { margin-bottom: 10px;}
.mb-20 { margin-bottom: 20px;}
.mb-30 { margin-bottom: 30px;}
.mb-40 { margin-bottom: 40px;}

.mt-10 { margin-top: 10px;}
.mt-20 { margin-top: 20px;}
.mt-30 { margin-top: 30px;}
.mt-40 { margin-top: 40px;}

ul {
   list-style: none;
   width: 40%;
   border: 2px solid gainsboro;
   margin: 20px auto;
}

li {
   text-align: left;
   padding: 10px 19px;
   border-bottom: 1px dotted gainsboro;
}

i {
   font-size: 1.2rem;
   transition: .4s;
}

i:hover {
   color: red;
}